section{
    position: fixed;
    width: 100%;
    height: auto;
    // top: 0;
    bottom: 0;
    z-index: 1000;
    #navcontent{
        position: relative;
        #navbg{
            position: relative;
            background: linear-gradient(180deg,hsla(0,0%,86.7%,0) 5.98%,hsla(0,0%,100%,.5) 25.24%,hsla(0,0%,100%,.95) 59.38%,#fff 90%,#fff 0);
            #navimg{
                width: 100%;    
                height: 50px;    
                opacity: 0;        
            }
            #menuItems{
                position: absolute;
                width: 100%;
                top: 5px;
                left: 0;
                justify-content: center;
                padding: 0;
                list-style: none;
                display: inline-flex;
                #item{
                    cursor: pointer;
                    width: 95px;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: white;
                        user-select: none;                    
                        img{
                            transform: scale(.7);
                            transition: .3s;
                        }
                        div{
                            font-size: 8.5px;
                            font-family: sans-serif;
                            color: black;
                            font-weight: 900;
                        }
                    }
                }
                #item:hover{
                    a>img{
                        transform: scale(.9);
                        transition: .3s;
                    }
                }
            }
        }
    }
}
@media only screen and(max-width: 1175px){
    #item{
        // width: 9vw!important;
        // img{
        //     transform: scale(.4) !important;
        // }
    }
}