<section>
    <div class="container-fluid" id="bg">
        <div class="row">
            <div class="col-md-4 col-sm-4" style="height: 100vh;background-color: #1902025e;">
                <div class="logo">
                    <img src="assets/fasenra/logo.png" alt="">
                </div>
                <div style="padding-right: 3rem !important;padding-left: 3rem !important;">
                <div id="loginSection">
                            <div style="background: #fff; color: #ec4040d6; text-align: center; line-height: 39px;border-radius: 5px; font-weight: 600" *ngIf="msg">{{msg}}</div>
                            <label>Sign In</label>
                            <form action="" [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
                                <!-- <div class="form-group text-center">
                                    <label>USERNAME</label>
                                    <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp">                                 
                                    <div *ngIf="(loginForm.get('name').invalid && formDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)" style="color:#f2c652; font-size: 12px;">Name is required*</div>
                                </div>  -->
                                <div class="form-group text-left">
                                    <label>Username</label>
                                    <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="example@gmail.com">                                 
                                    <div *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)" style="color: yellow;
                                    font-size: 13px;
                                    font-weight: bold;">Username is required*</div>
                                </div>
                                <div class="form-group text-left">
                                    <label>Password</label>
                                    <input type="password" class="form-control" formControlName="pr" aria-describedby="emailHelp" placeholder="xxxxxxxxx">                                 
                                    <div *ngIf="(loginForm.get('pr').invalid && formDir.submitted) || (loginForm.get('pr').dirty && loginForm.get('pr').invalid)" style="color:yellow; font-size: 13px;font-weight: bold;">Password is required*</div>
                                </div>  
                                <div id="submit-btn" style="margin-bottom: 20px;">
                                    <button *ngIf="loginButton" class="btn" type="submit" style="width:100%;font-size: 20px;font-weight: 900;">LOGIN</button>
                                    <!-- <p *ngIf="timerHelp" id="demo"></p> -->
                                    <p *ngIf="timerHelp">Event will be live in</p>
                                    <div id="demo" class="text-center" simpleCountdown [reactive]="true" [endMessage]="''" [dateTo]="1631345400" [styles]="'
                                    font-size: 20px !important;
                                    color: white;
                                    text-align:center !important;
                                    font-family: tondo !important;
                                    display:block !important;
                                    padding: 10px 4px;
                                    font-weight: bold;
                                  '" (finish)="loginButtonFunction()"></div>
                                </div>     
                                <!-- <a style="    font-weight: 700;
                                color: burlywood;
                                font-size: small;" href="https://webinar.multitvsolution.com/systemcheck/index.html" target="_blank">Check System Requirements</a>                   -->
                            </form>
                        </div>
                </div>
                <!-- <div style="margin-top: 10%;"></div> -->
            </div>
            <div class="col-md-8 col-sm-8">

            </div>
            
            
            <!-- <div class="col-md-4 col-sm-4 mt-5" style="height: 335px;background-color: #1512126e;">
                <div class="row justify-content-md-center">
                    <div class="pl-5 pr-5">
                        <div id="loginSection">
                            <div style="background: #fff; color: #ec4040d6; text-align: center; line-height: 39px;border-radius: 5px; font-weight: 600" *ngIf="msg">{{msg}}</div>
                            <form action="" [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
                               
                                <div class="form-group">
                                    <label >EMAIL ID:</label>
                                    <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp">                                 
                                    <div *ngIf="(loginForm.get('email').invalid && formDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)" style="color:#f2c652; font-size: 12px;">Email is required or email is not multitv domain*</div>
                                </div>
                                
                                <div id="submit-btn">
                                    <button class="btn" type="submit">LOGIN</button>
                                </div>                       
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">

            </div> -->
        </div>
    </div>
</section>