section{
    position: relative;
    width: 100%;
    height: 100%;
    #bg{
        background: url(../../assets/fasenra/login.jpg);
        // background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        overflow-y: auto;
    }
}
@font-face {
    font-family: tondo;
    src: url(../../assets/font/tondo.ttf);
  }
  
  h1,h2,h3,h4,h5,h6,p,div,form,label,button,.form-control,div {
    font-family: tondo !important;
  }
.form-control{
    font-size: 1.5rem !important;
    border-radius: 0rem;
    margin-bottom: 1.5rem;
    height: calc(2em + 0.75rem + 2px);
}
.logo {
    text-align: center;
    padding-top: 0%;
  }
  p{
    font-size: 32px;
    color: white;
    text-align: left;
  }
  .logo img {
    width: 75%;
    height: auto;
  }
  .logo p {
    padding-top: 2%;
    color: #008591;
  }
#loginSection{
    label{
        color: #fff;
        font-size: 18px;
    }
    .form-control{
        color: #fff;
    background: #a3a6a75e !important;
    }
    #submit-btn{
        text-align: center;
        button{
            // font-family: 'Oswald', sans-serif !important;
            // background: linear-gradient(90deg, #008591 0%, #003874 50%, #008591 100%);
            background-color: #f53e36;
            color: white;
            padding: 5px 20px 5px 20px;
        }
    }
}
#demo{
  width: 50%;
  font-size: 32px;
  font-weight: 900;
  text-align: center !important;
  color: white;
  font-family: tondo !important;
}
@media only screen and (max-width: 800px) {
  #demo{
    width: 100%;
    font-size: 16px;
    font-weight: 900;
    color: white;
  }
  p{
    font-size: 16px !important;
  }
}
