<section id="section">
    <div id="content-wrap">
        <div id="background">
            <img src="assets/ipf/images/products/product1.jpeg" width="100%" routerLink="/products/list" alt="">
        </div>
    </div>
</section>
