section{
    position: relative;
    width: 100%;
    height: 100%;
    .content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        #bg{
            img{
                width: 100%;
                height: 100vh;
            }
        }
    }
}

#pointer_1{
    position: absolute;
    width: 7%;
    height: 2%;
    top: 48%;
        left: 42%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_2{
    position: absolute;
    width: 7%;
    height: 2%;
    top: 53%;
        left: 42%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

#pointer_3{
    position: absolute;
    width: 7%;
    height: 2%;
    top: 58%;
        left: 42%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

#pointer_4{
    position: absolute;
    width: 7%;
    height: 2%;
    top: 63%;
        left: 42%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_5{
  position: absolute;
  width: 7%;
  height: 2%;
  top: 68%;
      left: 42%;
  cursor: pointer;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.modal-body{
    height: 100vh !important;
}

#popup{
    // background: #000000c9;
    padding: 0px;
    .chat_section{
    //   background: #292F35;
      .popup_header{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
        background: crimson;top: 61.5%;
        .close {
          cursor: pointer;
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
  
      }
    }
  }
  .chat_profile{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    height: 360px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
  
    li{
      padding: 10px;
      text-transform: capitalize;
      color: #292f35;
      font-weight: bold;
      font-size: 10px;
      cursor: pointer;
      user-select: none;
      position: relative;
        .img_avatar{
          width: 37px;
          padding: 5px;
          img{
            width: 28px;
            border-radius: 50%;
          }
    } }
  }
  .activeChat{
    background: #e8e8e8;
    #chatName{
      color: #000000d1;
      padding: 0 5px; 
      position: absolute;
      left: 52px; 
      top: 3px;
    }  
    border-bottom: 1px solid #292f3530;
  }
  .notActive{
    background: none;
    #chatName{
      padding: 0 5px;  
      position: absolute;
      left: 52px; 
      top: 3px;
    }
      border-bottom: 1px solid #292f3530;
  }
  
  #startChat{
    position: absolute;top: 50%;left: 50%;
    transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%); 
    padding: 10px;
    font-size: 10px;
  }

  .chat_box{
  .chat_message{
    list-style-type: none;
    padding: 0;
    display: inline-block;
    height: 400px;
    width: 96%;
    overflow-y: auto;
    overflow-x: hidden;
    .chat_messageList{
      padding: 10px;
      .img_avatar{
        float: left;
        width: 46px;
        img{
          width: 28px;
        }
      }
      p{
        .person{
          display: block;
          color: #292f35;
          font-weight: bold;
          font-size: 14px;
          float: left;
          cursor: pointer;
          margin-right: 15px;
          text-transform: capitalize;
          line-height: 18px;
          .checkProfile{
            text-decoration: none;
            outline: none;
            color: #292f35;
          }
        }
        .time {
          float: right;
          color: dimgrey;
          line-height: 18px;
        }
      }
      .text_message{
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        margin-left: 48px;
        clear: both;
        margin-bottom: 5px;
      }
    }
    .user-profile-row:nth-child(even){
      background: #f2f4f7;
    }
    .user-profile-row {
      width: 100%;
      display: flex;
      align-items: center;
     // background-color: #fff;
      margin: 0;
      padding: 8px;
      .user-profile-data {
          width: 95%;
          display: inline-block;
          .user-profile-image {
              width: 48px;
              float: left;
          }
          .user-profile-info {
              max-width: 70%;
              float: left;
          }
          .user-profile-info2 {
            max-width: 70%;
            float: right;
        }
          .user-profile-name {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 5px;
              line-height: 15px;
              color: #000;
              text-transform: capitalize;
              a{
                  text-decoration: none;
                  outline: none;
                  color: var(--primary-color);

              }
          }
          .user-profile-company {
              font-size: 12px;
              font-weight: 400;
              line-height: 12px;
              color: #000;
              margin-bottom: 0px;
          }

      }
  }
  }
}
.message_input {
  padding: 10px;
  textarea {
    border: none;
    height: 102px;
    box-sizing: border-box;
    outline-width: 0;
    padding: 10px;
    font-size: 14px;
    width: 78% !important;
    border-radius: inherit;
    border-radius: 2px;
    background: #e8e8e8;
    border: 0px;
    padding: 10px 5px 6px 15px;
    // line-height: 11px;
    /* margin-left: 15px; */
    resize: none;
    border: 1px solid #e8e8e8;
    outline: none;
  }
  input{

    height: 40px;
    box-sizing: border-box;
    outline-width: 0;
    padding: 10px;
    font-size: 12px;
    width: 78% !important;
    border-radius: inherit;
    border-radius: 2px;
    background: #e8e8e8;
    border: 0px;
    padding: 5px 5px 6px 5px;
    line-height: 11px;
    resize: none;
    border: 1px solid #e8e8e8;
    outline: none;

  }
  #chatBtn{
    width: 20%;
    font-size: 12px;
    background: #ebebeb;
    padding: 2px;
    box-shadow: none;
    height: 40px;
    border-radius: inherit;
    background: #292f35;
    border: navajowhite;
    margin-top: 0;
    svg{
      color: #fff;

    }
  }
}

.online_chat{
  min-height: 400px;
  overflow: auto;
}
  
  
  .search-container {
    padding: 10px;
    input {
      border: none;
      height: 40px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 12px;
       width: 75% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 5px 5px 6px 5px;
      line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    button{
    float: right;
    position: absolute;
    padding: 7px 10px;
    // margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    }
  }