<section>
  <div class="content-wrap">
    <div id="bg">
      <img src="assets/fasenra/ntwrking_lounge.jpg" alt="">
      <div style="position: absolute;  top: 10%; left: 50%;
            transform: translate(-50%,-50%);" *ngIf="liveMsg">
                <div class="alert alert-success " role="alert">
                  {{getMsg}}
                </div>
              </div>
      <a id="pointer_1" data-toggle="modal" data-target="#feedbackModal" (click)="stepup('click_agenda');">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_2" routerLink="/photobooth" (click)="stepup('click_photobooth');">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_3" (click)="getAllAttendees();">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_4" href="https://team.effem.com/sites/gcl/SitePages/CategoryCommunity.aspx?RootFolder=%2Fsites%2Fgcl%2FPC%20Category%20Community%2F0%2E%20Omni%20Power%20Week%202021&FolderCTID=0x0120000EA728A2E1BE6847A35762EF8A9CA268&View=%7B24B03E1D%2DC0E9%2D4FF5%2DBC29%2D589731CC3988%7D" target="_blank" (click)="stepup('click_opwfolder');">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_5" href="https://team.effem.com/sites/gcl/SitePages/CategoryCommunity.aspx?RootFolder=%2Fsites%2Fgcl%2FPC%20Category%20Community%2F0%2E%20Omni%20Power%20Week%202021%2F1%2E%20Participants%20Photo%20upload&FolderCTID=0x0120000EA728A2E1BE6847A35762EF8A9CA268&View=%7B24B03E1D%2DC0E9%2D4FF5%2DBC29%2D589731CC3988%7D" target="_blank" (click)="stepup('click_uploadphoto');">
        <div class="pulsating-circle"></div>
      </a>
    </div>
  </div>
</section>
<!-- <img src="assets/fasenra/chat.png" width="60px"
  style="z-index: 999; border-radius: 25px; background-color:white; position: absolute;right: 30px;bottom: 30px;padding: 10px;cursor: pointer;box-shadow: 0 20px 40px 0 rgba(0,0,0,0.2),0 20px 40px 0 rgba(0,0,0,0.19) !important;"
  data-toggle="modal" data-target="#myModal" alt=""> -->
<!-- <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <app-comet></app-comet>
      </div>

    </div>
  </div>
</div> -->
<div class="modal fade chatsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="position: absolute; right: 0; bottom: 0;">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6>One to One Chat</h6>
                  <a class="close" (click)="closePopup()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;border-radius: 25px;">
                  <div class="row pt-2">
                    <div class="col-md-12 col-xl-12 pl-0">
                      
                      <div class="row">
                        <div class="col-md-4 col-xl-4">
                            <div class="search_input">
                                <div class="search-container">
                                  <input type="text"  id="input" #inputKey (keyup)="searchElement(inputKey.value)" placeholder="Search.."
                                    name="search">
                                  <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                              </div>
                          <ul class="chat_profile">
                            <ng-container *ngFor="let chat of allChatList; let i = index">
                              <li *ngIf="sender_name !== chat.name" (click)="selectedChat(chat, i)" [ngClass]="(allChatIndex === i)?'activeChat':'notActive'">
                                <div class="img_avatar"> <img src="../../../assets/download2.png" alt=""></div>
                                <div id="chatName">
                                  {{chat.name}}
                                </div>
                              </li>
                            </ng-container>
                          </ul>
                        </div>
                        <div class="col-md-8 col-xl-8">
                          <div class="chat_box pt-2" id="chatss">
                            <ul class="chat_message" id="chat_messaged" *ngIf="chatMessage.length >=1">
                              <li class="chat_messageList" *ngFor="let msg of chatMessage" >
                                <div class="img_avatar"> <img src="../../../assets/download2.png" alt=""></div>
                                <p>
                                  <span class="person">
                                    <a href="javascript:void(0);" class="checkProfile">
                                      <span *ngIf="msg.sender_id === sender_id">{{msg.sender_name}}</span>
                                      <span *ngIf="msg.sender_id !== sender_id">{{msg.sender_name}}</span>
                                    </a>
                                  </span>
                                  <span class="time">{{msg.created | date: 'medium'}}</span>
                                </p>
                                <div class="text_message">{{msg.msg}}</div>
                              </li>
                            </ul>
                            <div class="chat_message" *ngIf="chatMessage.length === 0">
                              <div class="p-2">
                                <div id="startChat">
                                  No Chat Available with {{receiver_name}}.
                                  <!-- <p>Start Chat</p> -->
                                </div>
                              </div>
                            </div>
                            <!-- <ul class="chat_message">
                                  <li class="chat_messageList" *ngFor="let chat of commentsList">
                                    <div class="img_avatar"> <img src="../../../assets/download2.png" alt=""></div>
                                    <p>
                                      <span class="person">
                                        <a href="javascript:void(0);" class="checkProfile">{{chat.name}}</a>
                                      </span>
                                      <span class="time">{{chat.created | date: 'medium'}}</span>
                                    </p>
                                    <div class="text_message">{{chat.comment}}</div>
                                  </li>
                                </ul> -->
                          </div>
                          
                      <div class="message_input">
                          <input name="message" minlength="1" autocomplete="off" placeholder="Type a message and press enter" [formControl]="textMessage"
                            (keyup.enter)="postOneToOneChat(textMessage)" maxlength="200" type="text" id="query" value="">
                          <button type="submit" class="btn borderBtn SubmitBut" id="chatBtn" (click)="postOneToOneChat(textMessage)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                              <path fill="currentColor" d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path>
                            </svg>
                          </button>
                        </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-md-4 col-xl-4">
                      <div class="online_chat p-2">
                        <select (change)="getType($event.target.value)">
                          <option value="normal">Normal</option>
                          <option value="network">Network</option>
                        </select>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
  </div>
</div>