#download{
    position: absolute;
    top: 1%;
    right: 8.5%;
    width: 36px;
    height: 36px;
    // background-color: black;
    a{
        img{
            opacity: 0;
        }
    }
}
#buttons{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    .fa{
        transition: .3s;
        background: white;
        padding: 10px 12px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 10px;
        vertical-align: middle;
        cursor: pointer;
        font-weight: 600;
        transform: scale(1.2);
    }
    #left{
        position: absolute;
        top: 50%;
        left: -39px;
    }
    #right{
        position: absolute;
        top: 50%;
        right: -39px;
    }
    .fa:hover{
        transition: .3s;
        background: #16649bcf;
        color: white;
        transform: scale(1.5);
    }
}

        #inputText{
            margin: 15px 10px;
            input{
                outline: none;
                border: none;
                border-bottom: 2px solid crimson;
                width: 75%;
                color: crimson;
                font-size: 16px;
                padding: 5px;
            }
            button{
                float: right;
                outline: none;
                border: none;
                background: crimson;
                color: white;
                padding: 3px 10px;
                border-radius: 5px;
                font-size: 14px;
            }
        }

@media only screen and (max-height: 560px){
    // #chatSection{
    //     bottom: 64px !important;
    // }
    #chatbox{
        min-height: 90px !important;
        max-height: 90px !important;
    }
}
#chatbox{
    margin: 10px 5px;
    min-height: 90px;
    max-height: 90px;
    overflow-y: auto;
    
}