#chatopen, #hallChat{
    position: fixed;
    right: 3%;
    padding: 10px 20px;
    background: #8d433f;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    user-select: none;
}
#chatopen::before #hallChat::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 16px solid #8d433f;
    border-right: 24px solid transparent;
    border-top: 18px solid #8d433f;
    left: 10px;
    bottom: -16px;
    border-radius: 5px;
    border-bottom: 11px solid transparent;
    // border-left: 24px solid #8d433f;
    // border-right: 12px solid transparent;
    // border-top: 12px solid #8d433f;
    // border-bottom: 20px solid transparent;
    // left: 10px;
    // bottom: -24px;
    // border-radius: 10px;
}
#player-wrapper{
    // width: 80%;
    // height: 80vh;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    // top: 7vw;
    // left: 22.1vw;
    top: 0vw;
    left: 0vw;
}
#section{
    overflow: hidden !important;
}
#chatopen{
    bottom: 5%;
}
#hallChat{
    bottom: 15%;
}
// #playerPoint{
//     position: relative;
//     top: 21%;
//     left: 19.3%;
//     width: 57.5%;
// }

// @media (max-aspect-ratio: 16/9) {
//     #playerPoint{
//         top: 19.5%;
//     }
// }

// #background{
//     background-image: url('../../../assets/fasenra/stage_screen.jpg');
//     background-size: cover;
//         background-repeat: no-repeat;
//         height: 100vh !important;
//         overflow-y: auto;background-position: center;
// }

#listItems2{
    position: fixed;
    top: 35%;
    right: 0;
    width: 120px;
    height: auto;
    background-color: #00000073;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    ul{
        list-style-type: none;
        padding: 0;
        li{
            // background:#7b2f59;
            margin: 10px;
            border-radius: 24px;
            color: white;
            cursor: pointer;
            text-align: center;
            a{
                padding: 5px;
                text-decoration: none;
                color: #fff;
                line-height: 46px;
                height: 46px;
            }
        }
    }
  }
  
  
  #listItems{
      position: fixed;
      top: 30%;
      left: 0;
      width: 120px;
      height: auto;
      z-index: 9999;
      ul{
          list-style-type: none;
          padding: 0;
          li{
              background:#01334c00;
              margin: 10px;
              border-radius: 24px;
              color: white;
              cursor: pointer;
              text-align: center;
              a{
                  padding: 5px;
                  text-decoration: none;
                  color: #fff;
                  line-height: 46px;
                  height: 46px;
              }
          }
      }
  }
  
.bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0px;
    left:0;
   
//    background: linear-gradient(to left,  #36393e 50%,  #27292c 50%);
  
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    //background:#5a1f21;
    border-radius:50%;
    opacity:0.5;
    animation: rise 2s infinite ease-in;
  
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:4s;
  }
  .bubble:nth-child(2){
    width:150px;
    height:150px;
    left:20%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:100px;
    height:100px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }
  
  .bubbles img {
    width: 90%;
  }