<!-- <section id="section">
    <div id="content-wrap">
        <div id="background">
            <img id="bgImg" src="assets/fasenra/ntwrking_lounge.jpg" style="height: 100vh;" alt=""> -->
            <!-- <ng-container *ngFor="let x of [1,2,3,4,5,6]">
                <div id="topic_{{x}}" routerLink="/lounge/chat/{{x}}">

                </div>
            </ng-container> -->
        <!-- </div>
    </div>
</section> -->
<div class="responsive">
    <CometChatUI></CometChatUI>
  </div> 
<!-- <router-outlet></router-outlet> -->