<section id="section">
    <div id="content-wrap">
        <div id="background">
            <img id="bgImg" src="../../../assets/ipf/images/speakers/Sudarshan_Jain.png" alt="">
        </div>
    </div>
</section>