#pointer_1,#pointer_2,#pointer_3,#pointer_4,#pointer_5,#pointer_6,#pointer_7,#pointer_8{
    position: absolute;
    width: 7%;
    height: 7%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_1{
    top: 25%;
    right: 10%;
}
#pointer_2{
    top: 25%;
    left: 10%;
}
#pointer_3{
    top: 47%;
    right: 33%;
}
#pointer_4{
    top: 44%;
    left: 58%;

}
#pointer_5{
    top: 62%;
    left: 35%;
}
#pointer_6{
    top: 77%;
    left: 47%;
}
#pointer_7{
    top: 44%;
    right: 58%;
}
#pointer_8{
    top: 47%;
    right: 2.5%;
}
#onloadPlayer{
    position: absolute;
    width: 20%;
    top: 12.6%;
    left: 39.5%;
    border: 4px solid #000;
    border-radius: 0px;
    // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}

// #background{
//     top: -30px;
// }
// @media (min-aspect-ratio: 16/9) {
//     #lobbyBgVideo{
//       width: 100%;
//       height: auto;
//     }
//   }
  @media (max-aspect-ratio: 16/9) {
    // #lobbyBgVideo {
    //   width: auto;
    //   height: 100%;
    // }
    #background{
        top: 0px;
    }
    #onloadPlayer{
      top: calc(12.35% + 1px);
    }
  }
  #skip{
    position: absolute;
    top: 10px;
    left: 75px;
    background: #141433;
    color: white;
    z-index: 99999999999;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }