
.livemsg{
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0;
    background-color: #b07e26;
    z-index: 9999;
    height: 10vh;
    width: 20vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 27px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  @font-face {
    font-family: tondo;
    src: url(../../assets/font/tondo.ttf);
  }
  
  p {
    font-family: tondo !important;
    font-size: 16px;
  }
  .payloadMsg{
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0;
    background-color: crimson;
    z-index: 9999;
    height: auto;
    width: 20vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
  }
.alert-success {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #3ac4f0 !important;
    border-radius: 25px !important;
    border: 2px solid;
}
button{
    border: 0;
    font-size: 20px;
    color: white;
    background: blue;
    font-weight: bolder;
    width: 30%;
    border-radius: 5px;
}
.route{
    width: 50%;
    position: absolute;  top: 45%; left: 50%;z-index: 100;
            transform: translate(-50%,-50%);
}