.pharma {
  background: url(../../assets/ipf/images/BG.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: scroll;
}
.logo {
  text-align: center;
  padding-top: 1.5%;
}
.logo img {
  width: 15%;
  height: auto;
}
.logo p {
  padding-top: 2%;
  color: #008591;
}
.registration {
  // border: 2px solid #008591;
  // border-radius: 15px;
  // padding: 1em 1em 1.5em;
  // width: 60%;
  // margin: auto;
  // margin-top: 2%;
  // position: relative;
  border: 2px solid #008591;
  border-radius: 15px;
  width: 60%;
  margin: auto;
  margin-top: 2.5%;
  padding: 1em 1em 1em;
  position: relative;
  box-sizing: border-box;
  height: auto;
}
// #signupTest{
//   border: 2px solid #008591;
//   border-radius: 15px;
// }
.applicants {
  // border: 2px solid #008591;
  // border-radius: 15px;
  // padding: 1em 1em 8em;
  // width: 100%;
  // margin: auto;
  // margin-top: 5px;
  // position: relative;
  border: 2px solid #008591;
  border-radius: 15px;
  padding: 1em 1em 0.5em;
  width: 60%;
  margin: auto;
  margin-top: 5px;
  position: relative;
}
.heading {
  text-align: center;
  position: relative;
}
label {
  font-size: 12px;
}
.form-group {
  margin-bottom: 0.5rem;
}
.heading p {
  color: #ffffff;
  background: rgb(0, 133, 145);
  background: linear-gradient(
    90deg,
    rgba(0, 133, 145, 1) 0%,
    rgba(0, 56, 116, 1) 50%,
    rgba(0, 133, 145, 1) 100%
  );
  width: fit-content;
  margin: auto;
  padding: 5px 30px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: -35px;
}
.reg_form {
  background: #ffffff;
  width: 90%;
  margin: auto;
  position: relative;
  // margin-top: 2%;
}
.reg_form .test {
  position: relative;
  left: 0;
  right: 0;
  top: 33px;
  bottom: auto;
  // background: #ffffff;
}
.form-control {
  background: #ededed !important;
  border: none;
}
.tick {
  display: inline-flex;
  align-items: baseline;
  width: 100%;
  padding-top: 5%;
  justify-content: center;
}
.inc_div {
  width: fit-content;
  background: #ededed;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: -18px;
  z-index: 100;
  margin-left: auto;
  margin-right: 15%;
  display: flex;
}
.inc_div span {
  padding: 5px 10px;
}
.inc_val span {
  position: absolute;
  right: auto;
  left: 0;
  top: -10px;
}
.t_amt {
  // width: 30%;
  width: 61%;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 40px;
  margin-top: 5%;

}
.t_amt .t_inner {
  display: flex;
  justify-content: space-evenly;
  color: #002951;
}
.total_value {
  // width: 25%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.mtest {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: #002951;
}
.total_value .colon {
  position: relative;
  left: 12%;
}
.total_value .rupee {
  position: relative;
  left: 8%;
}
.submit_btn {
  color: #ffffff !important;
  background: rgb(0, 133, 145);
  background: linear-gradient(
    90deg,
    rgba(0, 133, 145, 1) 0%,
    rgba(0, 56, 116, 1) 50%,
    rgba(0, 133, 145, 1) 100%
  );
}
.applican div .applicants {
  margin-top: 5% !important;
}

// media queries

@media only screen and (min-device-width: 0px) and (max-device-width: 815px) and (orientation: portrait) {
  .portrait-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    height: 100vh;
    z-index: 99999999;
  }

  .portrait-center {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 auto;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
  }

  .portrait-center img {
    margin: 0 auto 10px;
    width: 200px;
    text-align: center;
  }

  .portrait-center p {
    font-size: 18px;
    color: #000;
    font-family: var(--head-font);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  .logo p {
    font-size: 12px;
  }
  .registration {
    width: 75%;
  }
  .heading p {
    top: -30px;
    font-size: 12px;
    padding: 5px 25px;
  }
  .tick {
    font-size: 12px;
    padding-top: 5%;
  }
  .inc_div {
    margin-right: 0px;
  }
  .applicants {
    width: 75%;
  }
  .t_amt {
    width: 75%;
  }
  .total_value {
    width: 50%;
  }
  p {
    font-size: 12px;
  }
  .applican div .applicants {
    margin-top: 10% !important;
  }
  label {
    font-size: 11px;
  }
  .forward a {
    padding: 5px 15px;
    border-radius: 7px;
    font-size: 10px;
  }
  .submit_btn {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo p {
    font-size: 12px;
  }
  .registration {
    width: 75%;
  }
  .heading p {
    top: -30px;
    font-size: 12px;
    padding: 5px 25px;
  }
  .tick {
    font-size: 12px;
    padding-top: 5%;
  }
  .inc_div {
    margin-right: 0px;
  }
  .applicants {
    width: 75%;
  }
  .t_amt {
    width: 75%;
  }
  .total_value {
    width: 50%;
  }
  p {
    font-size: 12px;
  }
  .applican div .applicants {
    margin-top: 10% !important;
  }
  label {
    font-size: 11px;
  }
  .forward a {
    padding: 5px 15px;
    border-radius: 7px;
    font-size: 10px;
  }
  .submit_btn {
    font-size: 12px;
  }
}