<section>
  <div class="content-wrap">
    <div id="bg">
      <img src="assets/fasenra/wall.jpg" alt="">
      <a id="pointer_1" (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/airtelclub/2016.mp4');">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_2" (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/airtelclub/2017.mp4');">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_3" (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/airtelclub/2018.mp4');">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_4" (click)="playGrowBySharingVideo('https://d3ep09c8x21fmh.cloudfront.net/airtelclub/2019.mp4');">
        <div class="pulsating-circle"></div>
      </a>
      <!-- <a id="pointer_2" data-toggle="modal" data-target="#bikeRacing" (click)="stepup('click_bikeracing');">
                <div class="pulsating-circle"></div>
            </a> -->
            <div id="pointer_5" data-toggle="modal" data-target="#largeModal">
              <div class="pulsating-circle"></div>
            </div>
            <div id="pointer_6" data-toggle="modal" data-target="#largeModal2">
              <div class="pulsating-circle"></div>
            </div>
            <div id="pointer_7" data-toggle="modal" data-target="#largeModal3">
              <div class="pulsating-circle"></div>
            </div>
            <div id="pointer_8" data-toggle="modal" data-target="#largeModal4">
              <div class="pulsating-circle"></div>
            </div>

    </div>
  </div>
</section>

<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true"
  style="z-index: 9999;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div> -->
      <div class="modal-body p-0">
        <div id="modal-video">
          <div id="closePopup" (click)="closeModalVideo()">&times;</div>
          <video id="video" preload="auto" [src]="videosource" width="100%" controls style="border-radius:25px;">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="bubbleShoot" tabindex="-1" role="dialog" aria-labelledby="GameModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-white" >Bubble Shoot</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section id="section">
            <div id="content-wrap">
              <div id="background">
                <iframe src="https://webinar.multitvsolution.com/Bubble-Shooter/bubble-shooter.html" width="100%" height="615" frameborder="0" ></iframe>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div> -->
<div class="modal fade" id="bikeRacing" tabindex="-1" role="dialog" aria-labelledby="GameModal1Label"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white">MEETINGS ROOMS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="section">
          <div id="content-wrap">
            <div id="background">
              <img src="assets/fasenra/breakoutroom.jpg" alt="" width="100%">
              <!-- <iframe style="width:100%" src="https://lagged.com/api/play2/superbike-hero2/"
          height="550" frameborder='0'></iframe> -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- carousel -->
        <div id='carouselExampleIndicators' class='carousel slide' data-ride='carousel'>
          <!-- <ol class='carousel-indicators'>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='0'
                class='active'
                ></li>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='1'
                ></li>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='2'
                ></li>
          </ol> -->
          <div class='carousel-inner'>
            <div class='carousel-item active'>
              <img class='img-size' src='assets/fasenra/2016/20161.jpg' alt='First slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/20162.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/20163.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/20164.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/20165.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/20166.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/20167.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/20168.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/20169.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201610.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201611.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201612.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201613.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201614.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201615.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201616.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201617.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201618.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201619.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201620.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201621.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201622.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201623.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201624.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201625.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201626.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201627.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201628.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201629.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201630.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201631.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201632.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201633.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201634.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201635.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201636.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201637.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201638.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201639.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201640.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201641.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201642.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201643.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201644.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201645.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2016/201646.jpg' alt='Second slide' />
            </div>
          </div>
          <a class='carousel-control-prev' href='#carouselExampleIndicators' role='button' data-slide='prev'>
            <span class='carousel-control-prev-icon' aria-hidden='true'></span>
            <span class='sr-only'>Previous</span>
          </a>
          <a class='carousel-control-next' href='#carouselExampleIndicators' role='button' data-slide='next'>
            <span class='carousel-control-next-icon' aria-hidden='true'></span>
            <span class='sr-only'>Next</span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="largeModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- carousel -->
        <div id='carouselExampleIndicators2' class='carousel slide' data-ride='carousel'>
          <!-- <ol class='carousel-indicators'>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='0'
                class='active'
                ></li>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='1'
                ></li>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='2'
                ></li>
          </ol> -->
          <div class='carousel-inner'>
            <div class='carousel-item active'>
              <img class='img-size' src='assets/fasenra/2017/20171.jpg' alt='First slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/20172.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/20173.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/20174.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/20175.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/20176.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/20177.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/20178.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/20179.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201710.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201711.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201712.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201713.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201714.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201715.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201716.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201717.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201718.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201719.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201720.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201721.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201722.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201723.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201724.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201725.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201726.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201727.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201728.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201729.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201730.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201731.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201732.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201733.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201734.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201735.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201736.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201737.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201738.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201739.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201740.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201741.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201742.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201743.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201744.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201745.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201746.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201747.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201748.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201749.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201750.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201751.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201752.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201753.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201754.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2017/201755.jpg' alt='Second slide' />
            </div>
          </div>
          <a class='carousel-control-prev' href='#carouselExampleIndicators2' role='button' data-slide='prev'>
            <span class='carousel-control-prev-icon' aria-hidden='true'></span>
            <span class='sr-only'>Previous</span>
          </a>
          <a class='carousel-control-next' href='#carouselExampleIndicators2' role='button' data-slide='next'>
            <span class='carousel-control-next-icon' aria-hidden='true'></span>
            <span class='sr-only'>Next</span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="largeModal3" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- carousel -->
        <div id='carouselExampleIndicators3' class='carousel slide' data-ride='carousel'>
          <!-- <ol class='carousel-indicators'>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='0'
                class='active'
                ></li>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='1'
                ></li>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='2'
                ></li>
          </ol> -->
          <div class='carousel-inner'>
            <div class='carousel-item active'>
              <img class='img-size' src='assets/fasenra/2018/20181.jpg' alt='First slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/20182.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/20183.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/20184.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/20185.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/20186.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/20187.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/20188.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/20189.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201810.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201811.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201812.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201813.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201814.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201815.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201816.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201817.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201818.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201819.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201820.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201821.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201822.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201823.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201824.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201825.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201826.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201827.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201828.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201829.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201830.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201831.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201832.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201833.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201834.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201835.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201836.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201837.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201838.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201839.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201840.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201841.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201842.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201843.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201844.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201845.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201846.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201847.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201848.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201849.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201850.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201851.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201852.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201853.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201854.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201855.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201856.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2018/201857.jpg' alt='Second slide' />
            </div>
          </div>
          <a class='carousel-control-prev' href='#carouselExampleIndicators3' role='button' data-slide='prev'>
            <span class='carousel-control-prev-icon' aria-hidden='true'></span>
            <span class='sr-only'>Previous</span>
          </a>
          <a class='carousel-control-next' href='#carouselExampleIndicators3' role='button' data-slide='next'>
            <span class='carousel-control-next-icon' aria-hidden='true'></span>
            <span class='sr-only'>Next</span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="largeModal4" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- carousel -->
        <div id='carouselExampleIndicators4' class='carousel slide' data-ride='carousel'>
          <!-- <ol class='carousel-indicators'>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='0'
                class='active'
                ></li>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='1'
                ></li>
            <li
                data-target='#carouselExampleIndicators'
                data-slide-to='2'
                ></li>
          </ol> -->
          <div class='carousel-inner'>
            <div class='carousel-item active'>
              <img class='img-size' src='assets/fasenra/2019/20191.jpg' alt='First slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/20192.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/20193.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/20194.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/20195.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/20196.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/20197.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/20198.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/20199.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201910.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201911.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201912.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201913.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201914.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201915.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201916.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201917.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201918.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201919.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201920.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201921.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201922.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201923.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201924.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201925.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201926.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201927.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201928.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201929.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201930.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201931.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201932.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201933.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201934.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201935.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201936.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201937.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201938.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201939.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201940.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201941.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201942.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201943.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201944.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201945.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201946.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201947.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201948.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201949.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201950.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201951.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201952.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201953.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201954.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201955.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201956.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201957.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201958.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201959.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201960.jpg' alt='Second slide' />
            </div>
            <div class='carousel-item'>
              <img class='img-size' src='assets/fasenra/2019/201961.jpg' alt='Second slide' />
            </div>
          </div>
          <a class='carousel-control-prev' href='#carouselExampleIndicators4' role='button' data-slide='prev'>
            <span class='carousel-control-prev-icon' aria-hidden='true'></span>
            <span class='sr-only'>Previous</span>
          </a>
          <a class='carousel-control-next' href='#carouselExampleIndicators4' role='button' data-slide='next'>
            <span class='carousel-control-next-icon' aria-hidden='true'></span>
            <span class='sr-only'>Next</span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>