section{
    position: relative;
    width: 100%;
    height: 100%;
    .content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        #bg{
            img{
                width: 100%;
                height: 100vh;
            }
        }
    }
}

#pointer_1{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 52%;
    left: 13.5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_2{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 52%;
    right: 56.5%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_3{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 52%;
    right: 37%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_4{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 52%;
    right: 14%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_5{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 35%;
    left: 14%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_6{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 35%;
    left: 36%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_7{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 35%;
    right: 37%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#pointer_8{
    position: absolute;
    width: 7%;
    height: 7%;
    top: 35%;
    right: 14%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }
  video:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

// carousel


.img-size{
    /* 	padding: 0;
      margin: 0; */
    //   height: 450px;
    //   width: 700px;
      max-width: 700px;
      background-size: cover;
      overflow: hidden;
    }
    .modal-content {
       width: 700px;
      border:none;
    }
    .modal-body {
       padding: 0;
    }
    
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      width: 30px;
      height: 48px;
    }
    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      width: 30px;
      height: 48px;
    }

    // carousel end