<!-- <div id="container">
    <div class="container-fluid p-0">
        <div class="w-100 text-center">
            <img src="" style="width: 100%; height: 100vh;" alt="">
        </div>
        <div class="forward" >
            <a routerLink="/signup">CLICK HERE TO REGISTER</a>
        </div>
    </div>
</div> -->
<section>
    <div id="content">
        <div id="bg">
            <img src="../../assets/ipf/images/starting.jpg" alt="">
            <div class="forward" >
                <a class="mr-2" routerLink="/signup">CLICK HERE TO REGISTER</a>
                <a class="ml-2" routerLink="/login">CLICK HERE TO LOGIN</a>
            </div>
        </div>
    </div>
</section>