
#closebtn{
    position: absolute;
    top: 1%;
    right: 2%;
    width: 4%;
    height: 3%;
    transition: .3s;
    cursor: pointer;
}
#closebtn :hover {
    transition: .3s;
    box-shadow: 0 0 11px rgba(33,33,3,.5);
}
// #one_1,#one_2,#one_3,#one_4,#one_5,#one_6,#one_7,#one_8,#one_9,#one_10,#one_11,#one_12,#one_13,#one_14,#one_15,#one_16,#one_17,#one_18,#one_19,#one_20,#one_21,#one_22,#one_23,#one_24,#one_25,#one_26,#one_27,#one_28,#one_29,#one_30,#one_31,#one_32,#one_33,#one_34,#one_35,#one_36,#one_37,#one_38,#one_39{
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 2.25%;
//     cursor: pointer;
//     background: black;
// }
#one_1{
    top: 17.5%;
}
#one_2{
    top: 20.5%;
}
#one_3{
    top: 23.5%;
}
#one_4{
    top: 26.5%;
}
#one_5{
    top: 32.5%;
}
#one_6{
    top: 38.5%;
}
#one_7{
    top: 44.5%;
}
#one_8{
    top: 47.5%;
}
#one_9{
    top: 50.5%;
}
#one_10{
    top: 57.5%;
}
#one_11{
    top: 60.5%;
}
#one_12{
    top: 63.5%;
}

#one_13{
    top: 17.5%;
}
#one_14{
    top: 23.5%;
}
#one_15{
    top: 26.5%;
    height: 5%;
}
#one_16{
    top: 32.5%;
}
#one_17{
    top: 35.5%;
}
#one_18{
    top: 38.5%;
}
#one_19{
    top: 43.5%;
}
#one_20{
    top: 49.5%;
}
#one_21{
    top: 55.5%;
}
#one_22{
    top: 59.5%;
}
#one_23{
    top: 62.5%;
}
#one_24{
    top: 65.5%;
}
#one_25{
    top: 68.5%;
}
#one_26{
    top: 17.5%;
    height: 5.5%;
}
#one_27{
    top: 26.5%;
}
#one_28{
    top: 29.5%;
}
#one_29{
    top: 35.5%;
}
#one_30{
    top: 38.5%;
}
#one_31{
    top: 41.5%;
}
#one_32{
    top: 44.5%;
}
#one_33{
    top: 50.5%;
}
#one_34{
    top: 53.4%;
}
#one_35{
    top: 56.3%;
}
#one_36{
    top: 59%;
}
#one_37{
    top: 62%;
}
#one_38{
    top: 65%;
}
#one_39{
    top: 68.1%;
}
#buttons{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    .fa{
        transition: .3s;
        background: white;
        padding: 10px 12px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 10px;
        vertical-align: middle;
        cursor: pointer;
        font-weight: 600;
        transform: scale(1.2);
    }
    #left{
        position: absolute;
        top: 50%;
        left: -39px;
    }
    #right{
        position: absolute;
        top: 50%;
        right: -39px;
    }
    .fa:hover{
        transition: .3s;
        background: #16649bcf;
        color: white;
        transform: scale(1.5);
    }
}