<section id="section">
    <div id="content-wrap">
        <div id="background">
            <div class="contianer-fluid">
                <div class="row">
                    <div class="col-md-5 col-xl-5 col-sm-5" style="display: flex;">
                        <div id="imgSlider">   
                            <div id="up" class="mb-2" (click)="onScrollup()">
                                <i class="fa fa-angle-up"></i>
                            </div>                                 
                            <div id="slideImages">                                        
                                <ng-container *ngFor="let list of listImgs; let i = index">
                                    <div id="listImg">
                                        <img id="listSliderImg" src="{{list.img}}" [ngStyle]="{'border': (i==showIndex)? '2px solid #2874f0':'none'}" alt="" (click)="onShowImage(list.img)">
                                    </div>
                                </ng-container>                                        
                            </div>
                            <div id="down" class="mt-2" (click)="onScrolldown()">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <div id="hoveringbox" class="pl-3">
                            <div id="imager">
                                <img id="boximgid" (mouseover)="initiate('boximgid', 'resultimg')" (mouseout)="hideFull('resultimg')" src="{{listedImg}}" alt="">
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-7 col-xl-7 col-sm-7">
                        {{showing}} {{message}}
                        <div id="resultimager">
                            <div id="resultimg"></div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>