<section>
  <div class="content-wrap">
    <div id="bg">
      <img src="assets/fasenra/gamezone.jpg" alt="" width="100%">
      <a id="pointer_1" data-toggle="modal" data-target="#bubbleShoot">
        <div class="pulsating-circle"></div>
      </a>
      <a id="pointer_2" data-toggle="modal" data-target="#bikeRacing">
        <div class="pulsating-circle"></div>
      </a>
    </div>
  </div>
</section>


<div class="modal fade" id="bubbleShoot" tabindex="-1" role="dialog" aria-labelledby="bubbleShootLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-white" id="bubbleShootLabel">Game</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="section">
          <div id="content-wrap">
            <div id="background">
              <!-- <pdf-viewer [src]="agenda1" [original-size]="true" style="display:block !important;"></pdf-viewer> -->
              <iframe style="width:100%" src="https://previews.customer.envatousercontent.com/files/222579560/index.html"
              height="550" frameborder='0'></iframe>
              <!-- <iframe [src]="this.url" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0"></iframe> -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bikeRacing" tabindex="-1" role="dialog" aria-labelledby="bikeRacingLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-white" id="bikeRacingLabel">Game</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section id="section">
          <div id="content-wrap">
            <div id="background">
              <!-- <pdf-viewer [src]="agenda1" [original-size]="true" style="display:block !important;"></pdf-viewer> -->
              <iframe style="width:100%" src="https://previews.customer.envatousercontent.com/files/266349013/index.html"
              height="550" frameborder='0'></iframe>
              <!-- <iframe [src]="this.url" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0"></iframe> -->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
