section{
    position: relative;
    width: 100%;
    height: 100%;
    .content-wrap{
        position: relative;
        width: 100%;
        height: 100%;
        #bg{
            img{
                width: 100%;
                height: 100vh;
            }
        }
    }
}

#pointer_1,#pointer_2,#pointer_3,#pointer_4,#pointer_5,#pointer_6,#pointer_7,#pointer_8,#pointer_9,#pointer_10{
    position: absolute;
    width: 7%;
    height: 7%;
    cursor: pointer;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

#pointer_1{
    top: 50%;
    left: 21%;
}

#pointer_2{
    top: 44%;
    right: 20.6%;
}

#pointer_3{
    top: 56%;
    left: 29.9%;
}
#pointer_4{
    top: 56%;
    left: 41%;
}
#pointer_5{
    top: 56%;
    left: 52.2%;
}
#pointer_6{
    top: 56%;
    left: 63.4%;
}
#pointer_7{
    top: 56%;
    left: 74.5%;
}
#pointer_8{
    top: 56%;
    left: 85.6%;
}
#pointer_9{
    top: 73%;
    left: 40.5%;
}
#pointer_10{
    top: 73%;
    left: 55%;
}